/* Global variables. */
:root {
    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #212121;
      --accent-bg: #2b2b2b;
      --text: #dcdcdc;
      --text-light: #ababab;
      --border: #666;
      --accent: #ffb300;
      --code: #f06292;
      --preformatted: #ccc;
      --disabled: #111;
    }
    /* Add a bit of transparancy so light media isn't so glaring in dark mode */
    img,
    video {
      opacity: 0.8;
    }
  }
  
  html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }
  
  /* Make the body a nice central block */
  body {
    color: var(--text);
    background: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
    margin: 0;
  }
  
  body > * {
    grid-column: 2;
  }
  
  /* Make the header bg full width, but the content inline with body */
  body > header {
    background: var(--accent-bg);
    border-bottom: 1px solid var(--border);
    text-align: center;
    padding: 0 0.5rem 2rem 0.5rem;
    grid-column: 1 / -1;
    box-sizing: border-box;
  }
  
  body > header h1 {
    max-width: 1200px;
    margin: 1rem auto;
  }
  
  body > header p {
    max-width: 40rem;
    margin: 1rem auto;
  }
  
  /* Add a little padding to ensure spacing is correct between content and nav */
  main {
    padding-top: 1.5rem;
  }
  
  body > footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--border);
  }
  
  /* Format headers */
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.6rem;
    margin-top: 3rem;
  }
  
  h3 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  
  h4 {
    font-size: 1.44rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 0.96rem;
  }
  
  /* Fix line height when title wraps */
  h1,
  h2,
  h3 {
    line-height: 1.1;
  }
  
  /* Reduce header size on mobile */
  @media only screen and (max-width: 720px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 2.1rem;
    }
  
    h3 {
      font-size: 1.75rem;
    }
  
    h4 {
      font-size: 1.25rem;
    }
  }
  
  /* Format links & buttons */
  a,
  a:visited {
    color: var(--accent);
  }
  
  a:hover {
    text-decoration: none;
  }
  
  button,
  [role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
  }
  
  button[disabled],
  [role="button"][aria-disabled="true"],
  input[type="submit"][disabled],
  input[type="reset"][disabled],
  input[type="button"][disabled],
  input[type="checkbox"][disabled],
  input[type="radio"][disabled],
  select[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  input:disabled,
  textarea:disabled,
  select:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
  }
  
  input[type="range"] {
    padding: 0;
  }
  
  /* Set the cursor to '?' while hovering over an abbreviation */
  abbr {
    cursor: help;
  }
  
  button:focus,
  button:enabled:hover,
  [role="button"]:focus,
  [role="button"]:not([aria-disabled="true"]):hover,
  input[type="submit"]:focus,
  input[type="submit"]:enabled:hover,
  input[type="reset"]:focus,
  input[type="reset"]:enabled:hover,
  input[type="button"]:focus,
  input[type="button"]:enabled:hover {
    filter: brightness(1.4);
    cursor: pointer;
  }
  
  /* Format navigation */
  nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0 0 0;
  }
  
  /* Use flexbox to allow items to wrap, as needed */
  nav ul,
  nav ol {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* List items are inline elements, make them behave more like blocks */
  nav ul li,
  nav ol li {
    display: inline-block;
  }
  
  nav a,
  nav a:visited {
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
  
  nav a:last-child {
    margin-right: 0;
  }
  
  /* Reduce nav side on mobile */
  @media only screen and (max-width: 750px) {
    nav a {
      border: none;
      padding: 0;
      color: var(--accent);
      text-decoration: underline;
      line-height: 1;
    }
  }
  
  /* Format the expanding box */
  details {
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.6rem 1rem;
  }
  
  details[open] {
    padding: 0.6rem 1rem 0.75rem 1rem;
  }
  
  details[open] summary + * {
    margin-top: 0;
  }
  
  details[open] summary {
    margin-bottom: 0.5rem;
    padding: 0;
  }
  
  details[open] > *:last-child {
    margin-bottom: 0;
  }
  
  /* Format tables */
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem 0;
  }
  
  td,
  th {
    border: 1px solid var(--border);
    text-align: left;
    padding: 0.5rem;
  }
  
  th {
    background: var(--accent-bg);
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    /* Set every other cell slightly darker. Improves readability. */
    background: var(--accent-bg);
  }
  
  table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Format forms */
  textarea,
  select,
  input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 60%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  /* Add arrow to drop-down */
  select {
    background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
      linear-gradient(135deg, var(--text) 51%, transparent 49%);
    background-position: calc(100% - 20px), calc(100% - 15px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
  }
  
  select[multiple] {
    background-image: none !important;
  }
  
  /* checkbox and radio button style */
  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: bottom;
    position: relative;
  }
  
  input[type="radio"] {
    border-radius: 100%;
  }
  
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background: var(--accent);
  }
  
  input[type="checkbox"]:checked::after {
    /* Creates a rectangle with colored right and bottom borders which is rotated to look like a check mark */
    content: " ";
    width: 0.1em;
    height: 0.25em;
    border-radius: 0;
    position: absolute;
    top: 0.05em;
    left: 0.18em;
    background: transparent;
    border-right: solid var(--bg) 0.08em;
    border-bottom: solid var(--bg) 0.08em;
    font-size: 1.8em;
    transform: rotate(45deg);
  }
  input[type="radio"]:checked::after {
    /* creates a colored circle for the checked radio button  */
    content: " ";
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    position: absolute;
    top: 0.125em;
    background: var(--bg);
    left: 0.125em;
    font-size: 32px;
  }
  
  /* Make the textarea wider than other inputs */
  textarea {
    width: 80%;
  }
  
  /* Makes input fields wider on smaller screens */
  @media only screen and (max-width: 720px) {
    textarea,
    select,
    input {
      width: 100%;
    }
  }
  
  /* Ensures the checkbox and radio inputs do not have a set width like other input fields */
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }
  
  /* do not show border around file selector button */
  input[type="file"] {
    border: 0;
  }
  
  /* Misc body elements */
  hr {
    color: var(--border);
    border-top: 1px;
    margin: 1rem auto;
  }
  
  mark {
    padding: 2px 5px;
    border-radius: 4px;
    background: var(--marked);
  }
  
  main img,
  main video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  figure {
    margin: 0;
    text-align: center;
  }
  
  figcaption {
    font-size: 0.9rem;
    color: var(--text-light);
    margin-bottom: 1rem;
  }
  
  blockquote {
    margin: 2rem 0 2rem 2rem;
    padding: 0.4rem 0.8rem;
    border-left: 0.35rem solid var(--accent);
    color: var(--text-light);
    font-style: italic;
  }
  
  cite {
    font-size: 0.9rem;
    color: var(--text-light);
    font-style: normal;
  }
  
  /* Use mono font for code elements */
  code,
  pre,
  pre span,
  kbd,
  samp {
    font-family: var(--mono-font);
    color: var(--code);
  }
  
  kbd {
    color: var(--preformatted);
    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
  }
  
  pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    color: var(--preformatted);
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
  }
  
  /* Fix embedded code within pre */
  pre code {
    color: var(--preformatted);
    background: none;
    margin: 0;
    padding: 0;
  }


/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0D28A6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0D28A6;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #17A2B8;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
  }

  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #eee;
}

.card-mobil{
    margin-top: 10%;
    width: 340px;
    height: auto;
}

.card-img-top{
    position: initial;
    width: auto;
    height: 300px;
    margin: 6%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}