<%- include("_header") -%>

<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Car Rental</h3>
        <strong>CR</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/">
                <div class="col">
                    <div class="row">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="row">
                        Dashboard
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/">
                <div class="col">
                    <div class="row">
                        <i class="fas fa-car"></i>
                    </div>
                    <div class="row">
                        List Car
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>